<!--<div class="content content-categories">-->
<!--<%- partial('_partial/component/page-header', {location: '分类'}) %>-->
<!--<%- partial('_partial/component/category-box') %>-->
<!--</div>-->

<!--<%- partial('_partial/component/back-top', {showBacktop: theme.backtop.category}) %>-->
<%- partial('_partial/component/header') %>
<%- partial('_partial/component/category-post', {location:'分类'})%>



